
#drawarea {
   height: 90%;
}

a img{
    position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}

footer {
   text-align: center;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.unselected {
  fill: #ccc;
}

circle.selected {
  fill: #faa;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
